#Login_input label {
    margin:20px 0;
    position:relative;
    display:inline-block;
}
  
#Login_input span {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
#Login_input input {
    width: 500px;
    padding:8px;
    border: 1px solid gainsboro;
  }
  
#Login_input input:focus + span, input:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }
  
  /* For IE Browsers*/
  #Login_input  input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }
  .login_password_login{
    position: absolute;
    top: 307px;
    right: 38rem;
    border-radius: 14px;
    border: 3px solid  gray;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 3px 8px 5px 8px;
  }
  .login_input_password{

    border: 1px solid gainsboro;
  }
  .login_button_first{
    background-color: #212931;
    margin-left: 37rem;
    margin-top: 5rem;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 9px;
    font-size: 14px;
  }