.featuredInfoComponent {
    display: flex;
    justify-content: space-between;
  }
  .featuredInfoComponent .item {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
  .featuredInfoComponent .item .title {
    font-size: 20px;
  }
  .featuredInfoComponent .item div {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .featuredInfoComponent .item div .money {
    font-size: 30px;
    font-weight: 600;
  }
  .featuredInfoComponent .item div .moneyRate {
    display: flex;
    align-items: center;
  }
  .featuredInfoComponent .item div .moneyRate .icon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
  }
  .featuredInfoComponent .item div .moneyRate .icon.negative {
    color: red;
  }
  .featuredInfoComponent .item .sub {
    font-size: 15px;
    color: gray;
  }
  