
.Shopcontend{
  position: sticky;
  left: 0 !important;
  height: 196px;
  width: 32%;
  transition: 1s;
  background-color: red;
  padding: 34px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  }
  .Shopcontend > button{
    margin: 12px;
  }
  .Shopburger li{
    margin-top: 2rem ;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}
.Shopburger{
  position: absolute;
  left: 3rem;
  top: 1rem;
  font-size: 30px;
}