
.Shopcontend{
  position: absolute;
  left: 0 !important;
  height: 100%;
  width: 15%;
  transition: 1s;
  background-color: white;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  }
.Shopoverlay{
  position: absolute;
  left: 100px;
}
.Availability{
  font-size: 12px;
  font-weight: bold;
}
.accordion-item{
  width: 255px;
}
.form-check{
  width: 255px;
}
@media(max-width: 576px){
  .Shopcontend{
    height: 20%;
  }
}