

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .contend{
    top: 0;
    position: absolute;
    left: 0;
    height: 796px;
    width: 30%;
    transition: 1s;
    background-color: white;
    padding: 34px;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
  }
  .contend > button{
    margin: 12px;
  }
  .burgerul li{
    margin-top: 2rem ;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}
.burgers{
  position: absolute;
  left: 3rem;
  top: 1rem;
  font-size: 30px;
}
.instagram{
  position: absolute;
  bottom: 0;
}

























.cartcontend{
  top: 10px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 22%;
  transition: 1s;
  background-color: white;
  padding: 34px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  z-index: -1;
}
.headerright{
}
.cartcontend > button{
  margin: 12px;
}
.cartfrom{
  
  display: flex;
  position: absolute;
  right: 3%;
  top: 70px;
  font-weight: bold;
}
.cartfrom label{
  margin-left: 5px;
  font-weight: 500;
  font-size: 11px;
}
.carthrr{
  position: absolute;
  width: 21%;
  font-weight: 100;
  top: 80px;
  right: 0.1px;
}
.carthr {
  position: absolute;
  margin-top: 25px;
  width: 21%;
  right: 0.1px;
  font-weight: 100;
  
}
.cartburgerul li{
  margin-top: 2rem ;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 5px;
}
.cart{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 20px;
  cursor: pointer;
}
.cartleft h3{
  position: absolute;
  left: 2rem;
  font-size: 15px;
  margin-top: -1rem;
}




