.card{
  width: 22%;
  height: 100%;
  position: relative;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
}
.card__footer{
  position: absolute;
  bottom: 0;
  right: 0;
}
.card__headear_left{
  display: flex;
}
.card__headear_left h3{
  font-size: 13px;
  font-weight: 700;
}
.card__header_right_icon{
  position: absolute;
  right: 10px;
  font-size: 23px;
  font-weight: bold;
}




.contend{
    top: 0;
    position: absolute;
    left: 0;
    height: 796px;
    width: 100%;
    transition: 1s;
    background-color: white;
    padding: 34px;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
  }
  .contend > button{
    margin: 12px;
  }
  .burgerul li{
    margin-top: 2rem ;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}
.burgers{
  position: absolute;
  left: 3rem;
  top: 1rem;
  font-size: 30px;
}
.instagram{
  position: absolute;
  bottom: 0;
}

























.cartcontend{
  top: 10px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 22%;
  background-color: white;
  padding: 34px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
}
.cartfrom{
  
  display: flex;
  position: absolute;
  right: 3%;
  top: 70px;
  font-weight: bold;
}
.cartfrom label{
  margin-left: 5px;
  font-weight: 500;
  font-size: 11px;
}
.carthrr{
  position: absolute;
  width: 21%;
  font-weight: 100;
  top: 80px;
  right: 0.1px;
}
.carthr {
  position: absolute;
  margin-top: 25px;
  width: 21%;
  right: 0.1px;
  font-weight: 100;
  
}
.cartburgerul li{
  margin-top: 2rem ;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 5px;
}
.cart{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 20px;
  cursor: pointer;
}
.cartleft h3{
  position: absolute;
  left: 2rem;
  font-size: 15px;
  margin-top: -1rem;
}




