.newUserPage {
    flex: 4;
    padding: 20px;
  }
  .newUserPage form {
    display: flex;
    flex-wrap: wrap;
  }
  .newUserPage form .item {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  .newUserPage form .item label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #acacac;
  }
  .newUserPage form .item input {
    height: 50px;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }
  .newUserPage form .item input:active, .newUserPage form .item input:focus {
    outline: 0;
    border: 2px solid #0096bb;
  }
  .newUserPage form .item .gender {
    display: flex;
    align-items: center;
  }
  .newUserPage form .item .gender label {
    margin: 10px;
    font-size: 18px;
    color: grey;
  }
  .newUserPage form .activeContainer select {
    height: 40px;
    border-radius: 5px;
    color: #555;
  }
  .newUserPage form button {
    width: 200px;
    border: none;
    background-color: #0095c2;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
  