.cartAll{
    display: flex !important;
}
.bilmirem{
    display: flex !important;
}
.salam{
    display: flex !important;
}
.productsDesc{
    display: flex !important;
}
.products{
    display: flex !important;
}
.products{
    border: none;
}
.productsDesc span{
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 600;
}
.productsDesc{
    flex-direction: column;
}
.productsDesc{
    font-size: 12px;
}
.seidd {
    position: fixed;
}
.seidd img{
    width: 100%;
}
.cardmodalbottom {
}