.products{
    display: flex !important;
}
.products{
    border: none;
}
.productsDesc span{
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 600;
}
.productsDesc{
    font-size: 12px;
}
.cartList {
    position: fixed;
}
.cartList img{
    width: 100%;
}
.cardmodalbottom{
    position: absolute;
}

.cardList{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.card__footer__total{
    position: absolute;
    bottom: 0;
    left: 0;
}