.cartAll{
    display: flex !important;
}
.bilmirem{
    display: flex !important;
}
.salam{
    display: flex !important;
}
.productsDesc{
    display: flex !important;
}
.products{
    display: flex !important;
}