.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
  
  .nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    margin-top: 0;
  }
  
  .nav > li {
    color: white;
  }
  
  .nav > li:hover {
    color: turquoise;
  }
  
  /* ----------------------- */
  
  .productContainer {
    z-index: 2;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
  }
  .productContainer img{
    width: 5%;
  }
  
  .products {
    width: 25%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    z-index: 9;
  }
  
  .productDesc {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .add {
    padding: 5px;
  }
  
  .remove {
    background-color: grey;
    color: white;
  }



.cartflex{
  border: none;
  display: flex;
}
.cartflex img{
  width: 100%;
}
.products{
  display: flex;
  border: none;
  margin-top: 2rem;
  width: 120%;
}
.products img{
  display: flex;
  width: 100%;
  align-items: center;
}